<ol>
  <li>การนำเข้าให้ใส่ข้อมูลลงในไฟล์ต้นฉบับตามตัวอย่างนี้เท่านั้น <a href="export.php?module=personnel-export" target="_blank">personnel.csv</a></li>
  <li>ช่องที่มีเครื่องหมาย <em>*</em> จำเป็นต้องกรอก</li>
  <li>ช่องที่มีเครื่องหมาย <em>**</em> ไม่สามารถมีข้อมูลซ้ำได้</li>
  <li>{CATEGORIES} ให้กรอก ID ของข้อมูลนั้นๆ</li>
  <li>ถ้าต้องการให้เข้าระบบได้ ให้กรอกช่อง <strong>เลขประจำตัวประชาชน</strong>และ<strong>วันเกิด</strong>ให้ครบทั้งสองช่อง</li>
  <li>รายการที่มีข้อมูลไม่ถูกต้อง หรือ ซ้ำ ระบบจะข้ามการนำเข้าข้อมูลนั้นๆ</li>
  <li>ระบบจะแจ้งเตือนว่ามีการนำเข้าสำเร็จกี่รายการ ถ้าไม่เท่ากับข้อมูลที่กรอกแสดงว่ามีรายการไม่ถูกต้อง ให้ตรวจสอบไฟล์ต้นฉบับ</li>
  <li>คุณสามารถแก้ไขไฟล์ต้นฉบับ แล้วนำเข้าอีกครั้งได้ ระบบจะข้ามรายการที่เคยนำเข้าสำเร็จแล้ว</li>
  <li>ถ้าคุณนำเข้าโดยใช้ไฟล์จากแหล่งอื่น กรุณาตรวจสอบรูปแบบของไฟล์ให้ถูกต้อง<strong>ไฟล์ csv รหัสอักขระ {ENCODE}</strong></li>
</ol>