<ol>
  <li>การนำเข้าให้ใส่ข้อมูลลงในไฟล์ต้นฉบับตามตัวอย่างนี้เท่านั้น <a id=example target="_blank">course.csv</a></li>
  <li>ช่องที่มีเครื่องหมาย <em>*</em> จำเป็นต้องกรอก</li>
  <li>ช่องที่มีเครื่องหมาย <em>**</em> ไม่สามารถมีข้อมูลซ้ำได้</li>
  <li>ภาคเรียน, ประเภท และ ชั้น ให้กรอก ID ของข้อมูลนั้นๆ (ไฟล์ตัวอย่างที่ดาวน์โหลดระบุค่าที่ถูกต้องตามตัวเลือกด้านบนไว้ให้แล้ว)</li>
  <li>ถ้าต้องการบันทึกรายวิชาลงฐานข้อมูลเฉยๆ ไม่ต้องระบุครูผู้สอน</li>
  <li>ถ้ามีการระบุครูผู้สอน ต้องระบุปีการศึกษาและภาคเรียนด้วย</li>
  <li>รายการที่มีข้อมูลไม่ถูกต้อง หรือ ซ้ำ ระบบจะข้ามการนำเข้าข้อมูลนั้นๆ</li>
  <li>ระบบจะแจ้งเตือนว่ามีการนำเข้าสำเร็จกี่รายการ ถ้าไม่เท่ากับข้อมูลที่กรอกแสดงว่ามีรายการไม่ถูกต้อง ให้ตรวจสอบไฟล์ต้นฉบับ</li>
  <li>คุณสามารถแก้ไขไฟล์ต้นฉบับ แล้วนำเข้าอีกครั้งได้ ระบบจะข้ามรายการที่เคยนำเข้าสำเร็จแล้ว</li>
  <li>ถ้าคุณนำเข้าโดยใช้ไฟล์จากแหล่งอื่น กรุณาตรวจสอบรูปแบบของไฟล์ให้ถูกต้อง <strong>ไฟล์ csv รหัสอักขระ {ENCODE}</strong></li>
</ol>