<ol>
  <li>การนำเข้าให้ใส่ข้อมูลลงในไฟล์ต้นฉบับตามตัวอย่างนี้เท่านั้น <a id=example target="_blank">grade.csv</a></li>
  <li>ถ้ามีนักเรียนลงทะเบียนเรียนในวิชาที่เลือก ไฟล์ตัวอย่างจะส่งออกรายชื่อนักเรียนตามข้อมูลที่ได้เลือกไว้</li>
  <li>กรอกข้อมูลให้ครบทุกช่อง</li>
  <li>ถ้าต้องการลงทะเบียนเรียนอย่างเดียว ช่องผลการเรียนสามารถเว้นว่างได้</li>
  <li>รายการที่มีข้อมูลไม่ถูกต้อง ระบบจะข้ามการนำเข้าข้อมูลนั้นๆ</li>
  <li>ระบบจะแจ้งเตือนว่ามีการนำเข้าสำเร็จกี่รายการ ถ้าไม่เท่ากับข้อมูลที่กรอกแสดงว่ามีรายการไม่ถูกต้อง ให้ตรวจสอบไฟล์ต้นฉบับ</li>
  <li>คุณสามารถแก้ไขไฟล์ต้นฉบับ แล้วนำเข้าอีกครั้งได้ โดยจะเป็นการปรับปรุงผลการเรียนล่าสุด</li>
  <li>ถ้าคุณนำเข้าโดยใช้ไฟล์จากแหล่งอื่น กรุณาตรวจสอบรูปแบบของไฟล์ให้ถูกต้อง <strong>ไฟล์ csv รหัสอักขระ {ENCODE}</strong></li>
</ol>